* {
    box-sizing: border-box;
}
ul {
    width:65%;
    margin: 0 auto;
}

li {
    margin: 0.5em;
    display:inline-block;
    border:1px solid rgb(184, 184, 184);
    border-radius: 15px;
}

h3{
    text-align: center;
    position: relative;
    top:-9px;
}
img{
    width:200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h4{
    margin: 0;
    display: inline-block;
    position: relative;
    left: 18px;
    top: -13px;
}
button{
    float: right;
    position: relative;
    top:-13px;
    left: -18px;
    
}
body{
    margin: 0;
    padding: 0;
}